@font-face {
    font-weight: 400;
    font-family: "JetBrains Mono";
    src: url("src/fonts/JetBrainsMono-Regular.ttf");
}

@font-face {
    font-weight: 700;
    font-family: "JetBrains Mono";
    src: url("src/fonts/JetBrainsMono-Bold.ttf");
}

@font-face {
    font-style: italic;
    font-family: "JetBrains Mono";
    src: url("src/fonts/JetBrainsMono-Medium-Italic.ttf");
}

body {
    margin: 0 auto;
    font: 1.2vw/1.8vw "JetBrains Mono", monospace;
    letter-spacing: -0.5px;
}

.flex {
    display: flex;
}

.h {
    line-height: 4vw;
    font-size: 3vw;
    color: #2ECAA5;
}

.p {
    color: white;
    font-size: 1.5vw;
    margin: 0 0 2vw 0;
    width: 40vw;
}

.btn {
    margin-top: 5vh;
    width: 15vw;
    height: 3.5vw;
    color: white;
    font-weight: bold;
    background-color: #2ECAA5;
    border: none;
    border-radius: 1vw;
    font-size: 1.2vw;
    box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    background-color: #12A682;
    box-shadow: 0 0 0.5em 0 black;
    border-color: black;
}

.logo {
    display: block;
    width: 4vw;
}

header {
    padding: 0 10vw 0.5rem 10vw;
    justify-content: space-between;
    align-items: flex-end;
    height: 10vh;
    color: #313238;
}

.nav-icon {
    display: none;
}

.brand {
    align-items: flex-end;
}

.brand-name-description {
    flex-direction: column;
    padding-left: 10px;
}

.brand-name {
    font-size: 1.5em;
    font-weight: bold;
}

.brand-description {
    font-style: italic;
}

.contacts {
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

nav {
    display: flex;
    background: linear-gradient(90deg, #14163D, #29648A);
    border-bottom: 3px solid #2ECAA5;
    height: 5vh;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    ul {
        padding: 0 10vw;
        list-style-type: none;
        margin: 0;
        color: white;
        li {
            font-size: 1.2vw;
            text-align: center;
            padding: 0 3em 0 0;
            text-decoration: none;

            a {
                text-decoration: none;
                color: inherit;
            }
        }

        li:hover {
            color: #2ECAA5;
        }

        .nav-active {
            color: #2ECAA5;
        }
    }
}

.about-company {
    height: 85vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("src/images/turbine.jpg");
    background-position: top;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;

    .about-company-text {
        margin-left: 10vw;
        width: 50vw;
        padding-top: 10vh;
        flex-direction: column;
    }
}

.catalog {
    flex-direction: column;
    align-items: center;
    padding: 10vh 10vw;

    h1, p {
        color: #313238;
    }

    .catalog-text {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 80vw;
        h1 {
            margin-top: 0;
        }

        .icon {
            width: 40vw;
            align-items: center;
            justify-content: flex-start;

            p {
                padding: 0;
                margin: 0;
            }

            img {
                width: 5vw;
                margin: 0 1vw 0 0;
            }
        }

        .text-left .icon {
            margin-bottom: 4vw;
        }

        .text-right .icon {
            margin-top: 4vw;
        }
    }

    .catalog-brand {
        margin-top: 5vw;
        width: 80vw;
        justify-content: space-between;

        img {
            height: 5vw;
        }
    }
}

.work-examples {
    flex-direction: column;

    .work-examples-container {
        min-height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("src/images/car.png");
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5vh 0;

        .work-examples-photos-container {
            border: 5px solid black;
            border-radius: 50px;
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
            margin-top: 7vh;
            padding: 0;
            background: linear-gradient(#14163D, #29648A);
        }

        .slides {
            height: 30vw;
            width: 80vw;
            position: relative;
            justify-content: center;
            h2 {
                color: #313238;
            }
            .name-foto {
                position: absolute;
                top: 1vw;
                font-size: 3vw;
                margin: 0;
            }
        }

        .slide-left {
            height: 30vw;
            width: 40vw;
            margin: 0;
            padding: 0;
            border-radius: 50px 0 0 50px;
            justify-content: center;
            align-items: flex-end;
            border-right: 2px solid black;
        }

        .slide-right {
            height: 30vw;
            width: 40vw;
            margin: 0;
            padding: 0;
            border-radius: 0 50px 50px 0;
            justify-content: center;
            align-items: flex-end;
        }

        .slide1 {
            .foto-after {
                background: no-repeat center url("src/images/work-examples/after/1.png");
                background-size: cover;
            }
            .foto-before {
                background: no-repeat center url("src/images/work-examples/before/1.png");
                background-size: cover;
            }
        }

        .slide2 {
            display: none;
            .foto-after {
                background: no-repeat center url("src/images/work-examples/after/2.png");
                background-size: cover;
            }
            .foto-before {
                background: no-repeat center url("src/images/work-examples/before/2.png");
                background-size: cover;
            }
        }

        .slide3 {
            display: none;
            .foto-after {
                background: no-repeat center url("src/images/work-examples/after/3.png");
                background-size: cover;
            }
            .foto-before {
                background: no-repeat center url("src/images/work-examples/before/3.png");
                background-size: cover;
            }
        }

        .slide4 {
            display: none;
            .foto-after {
                background: no-repeat center url("src/images/work-examples/after/4.png");
                background-size: cover;
            }
            .foto-before {
                background: no-repeat center url("src/images/work-examples/before/4.png");
                background-size: cover;
            }
        }

        .slide5 {
            display: none;
            .foto-after {
                background: no-repeat center url("src/images/work-examples/after/5.png");
                background-size: cover;
            }
            .foto-before {
                background: no-repeat center url("src/images/work-examples/before/5.png");
                background-size: cover;
            }
        }

        .arrow-container {
            position: absolute;
            height: 30vw;
            width: 80vw;
            justify-content: space-between;
            align-items: center;
        }
        .arrow {
            margin: 0;
            padding: 0;
            background-color: rgba(0.2, 0.2, 0.2, 0.1);
            width: 5vw;
            height: 5vw;
            border-radius: 50%;
            justify-content: center;
            align-items: center;

            img {
                height: 4vw;
                width: 3vw;
                margin-left: 1vw;
            }
        }

        .arrow:hover {
            background-color: rgba(0.2, 0.2, 0.2, 0.3);
        }

        .arrow-left {
            rotate: 180deg;
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 5px;
        }

        .arrow-right {
            margin-right: 5px;
        }

        .points {
            text-align: center;

            .dot {
                cursor: pointer;
                height: 1vw;
                width: 1vw;
                margin: 1vw 2px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
            }

            .active, .dot:hover {
                background-color: #717171;
            }
        }
    }
}

footer {
    padding: 1vh 10vw;
    color: white;
    height: 10vh;
    background: linear-gradient(90deg, #14163D, #29648A);
    border-top: 3px solid #2ECAA5;

    .footer-desktop {
        justify-content: space-between;
        align-items: center;
        width: 80vw;

        .brand-name {
            font-size: 1.2em;
        }

        .brand {
            align-items: center;
        }

        .logo {
            margin-right: 0.5vw;
        }

        .contacts {
            font-size: 1vw;
            line-height: 1.5vw;
        }

        .address {
            flex-direction: column;
            text-align: center;
            font-size: 1vw;
        }

        .vk-link {
            display: block;
            width: 2.5vw;
            margin-left: 2vw;
        }
    }

    .footer-mobile {
        display: none;
    }
}

@media screen and (max-width: 1000px) and (orientation: portrait) {
    header {
        padding: 0 5vw 1vh 5vw;
        height: 8vh;
        width: 90vw;
        align-items: flex-end;
        border-bottom: 5px solid #2ECAA5;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 2;

        .nav-icon {
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            width: 6vh;
            height: 5vh;
            margin-bottom: 0.5vw;
        }

        .nav-icon-off {
            background-image: url("src/images/nav.png");
        }

        .nav-icon-on {
            background-image: url("src/images/nav-on.png");
        }

        .brand-description {
            display: none;
        }

        .brand {
            flex-direction: row-reverse;
            margin: 0;
            padding: 0;
            align-items: flex-end;
        }

        .brand-name {
            font-size: 3vh;
            margin: 0 1vh 1vh 0;
        }

        .logo {
            width: 6vh;
        }

        .contacts {
            display: none;
        }
    }

    nav {
        position: fixed;
        top: 9vh;
        border: none;
        height: 70vh;
        width: 75vw;
        align-items: flex-start;
        padding-top: 3vh;
        display: none;

        ul {
            padding: 0 5vw;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            li {
                font-size: 3.5vw;
                padding-bottom: 7vh;
            }

            .on-hover, .simulated-hover:hover {
                color: #2ECAA5;
            }
        }
    }

    main {
        margin-top: 8vh;
    }

    .about-company {
        min-height: 92vh;

        .about-company-text {
            margin-left: 5vw;
            width: 90vw;

        }

        h1 {
            font-size: 6vw;
            line-height: 5vh;
            margin-bottom: 4vh;
        }

        p {
            width: 75vw;
            font-size: 4vw;
            line-height: 3vh;
            padding-bottom: 4vh;
        }

        .btn {
            width: 40vw;
            height: 10vw;
            font-size: 4vw;
        }
    }

    .catalog {
        /*max-height: 92vh;*/
        padding: 5vh 5vw;

        .catalog-text h1 {
            font-size: 6vw;
        }

        .text-container {
            flex-direction: column;

            .icon {
                width: 90vw;

                .p {
                    width: 75vw;
                    font-size: 3vw;
                    line-height: 2vh;
                    margin-left: 5vw;
                }

                img {
                    width: 10vw;
                }
            }
        }

        .catalog-brand {
            width: 90vw;
            margin-top: 5vh;

            img {
                height: 7vw;
            }
        }
    }

    .work-examples {
        min-height: 92vh;
        padding: 0;
        margin: 0;

        .work-examples-container {
            padding: 0;
            justify-content: flex-start;

            h1 {
                margin-top: 10vh;
                font-size: 6vw;
            }

            .work-examples-photos-container {
                margin-top: 3vh;
                width: 90vw;

                .work-examples-photos {
                    width: 90vw;

                    .slides {
                        flex-direction: column;
                        width: 90vw;
                        height: 70vh;

                        h2 {
                            font-size: 4vw;
                        }

                        .slide-left {
                            width: 90vw;
                            height: 35vh;
                            border-radius: 50px 50px 0 0;
                            border-bottom: 3px solid black;
                        }
                        .slide-right {
                            width: 90vw;
                            height: 35vh;
                            border-radius: 0 0 50px 50px;
                        }
                    }
                }
            }

            .arrow-container {
                width: 90vw;
                height: 70vh;

                .arrow {
                    width: 10vw;
                    height: 10vw;

                    img {
                        height: 9vw;
                        width: 6vw;
                    }
                }
            }

            .points {
                .dot {
                    width: 3vw;
                    height: 3vw;
                    margin: 2vw 5px;
                }
            }
        }
    }

    footer {
        height: 15vh;
        padding: 3vh 5vw;
        border-top: 5px solid #2ECAA5;
        font-size: 2.7vw;

        .footer-mobile {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
        }

        .brand-and-address {
            width: 90vw;
            justify-content: space-between;
        }

        .brand-name {
            font-size: 4vw;
            line-height: 4vw;
        }

        .brand {
        }

        .logo {
            width: 7vw;
            height: 6vw;
            margin-right: 0.5vw;
        }

        .vk-link-container {
            justify-content: center;
            align-items: flex-end;
        }

        .vk-link {
            display: block;
            width: 6vw;
        }

        .address {
            flex-direction: column;
            /*justify-content: center;*/
            align-items: flex-end;
            line-height: 2vh;
            width: 30vw;
        }

        .contacts {
            width: 90vw;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 3.5vw;

            a {
                text-decoration: none;
                color: inherit;
            }

            .phone {
                width: 40vw;
                align-items: center;

                .number {
                    margin: 0;
                    padding: 0;
                    text-align: right;
                    line-height: 5vw;
                }

                img {
                    display: block;
                    width: 8vw;
                    height: 8vw;
                    /*margin-right: 2vw;*/
                }
            }
        }

        .footer-desktop {
            display: none;
        }
    }
}